<div id="Content">
    <div class='_lblGroupHd'>
        <div class='fltLft'>Currency</div>
    </div>
    <div id="_lstCurrency">

    </div>
    <div class="lastContainer">
        <div id='_btnAdd' class='Button' title='Add New' />
        <div id='_btnOK' class='Button' title='OK' />
    </div>
    <div id="_saveLoader" class="saveLoader">
        <div class="head">Data Processing</div>
        <div class="content">
            <img src="../Images/Loader/ball.gif" />
        </div>
    </div>
    <div id="_saveSuccess" class="successPopup">
        <div class="head">Summary</div>
        <div class="content">
        </div>
        <div class="footer">
            <input id="okPopUp" type="button" value="OK">
        </div>
    </div>
</div>
