<html>
    <head>
        <link href="/Content/CSS/Departments.css" rel="stylesheet" />
    </head>
    <body>
        <div id="Content"></div> <br>        

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

        <!--Helpers-->
        <script src="/Helpers/DepartmentsHelper.js" type="text/javascript"></script>
        
        <!--Models-->   
        <script src="/Models/DepartmentsModel.js" type="text/javascript"></script>
        
        <!--Controllers-->
        <script src="/Controllers/DepartmentsController.js" type="text/javascript"></script>
    </body>
</html>