<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>School Administration</title>
</head>

<body>   
        <div ><h1>Gallery</h1></div> <br>
        <div id="Content">This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. This Gallery Content. </div> <br>

</body>

</html>