<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>School Administration</title>
    <script src="../Scripts/jquery-3.4.1.js"></script>
    <link href="../Content/CSS/Layout.css" rel="stylesheet" />
    <!--Helpers-->
    <script src="../Helpers/HelperBase.js" type="text/javascript"></script>
    <script src="../Helpers/StorageHelper.js" type="text/javascript"></script>
    <script src="../Helpers/SessionHelper.js" type="text/javascript"></script>
    <script src="../Helpers/LogHelper.js" type="text/javascript"></script>
    <!--Models-->
    <script src="../Models/ModelBase.js" type="text/javascript"></script>
    <!--Controllers-->
    <script src="../Controllers/ControllerBase.js" type="text/javascript"></script>
    <script src="../Controllers/LayoutController.js" type="text/javascript"></script>
</head>

<body class="ThemeBody">
    <div id="TitlePanel" class="ThemeTitlePanel">
        <div class="TitleItem ThemeTitleItem" id="TitleText">School Administration</div>
        <div class="TitleItem ThemeTitleItem" id="UserText">
            <img class="TitleItem ThemeTitleItem" id="btnTheme" src="/Content/Image/Theme.jpg" />
            <img class="TitleItem ThemeTitleItem" id="UserIcon" src="/Content/Image/User.jpg" />
            <div class="TitleItem ThemeUserText" id="UserName"></div>
            <div class="TitleItem ThemeTitleItem">
                <img class="ThemelnkSignOut" id="lnkSignOut" src="/Content/Image/SignOut.jpg" />
            </div>
        </div>

    </div><br>
    <div class="TopPanel ThemeTopPanel" id="TopMenuPanel">

    </div><br>
    <div class="LeftPanel ThemeLeftPanel" id="LeftPanel">
    </div>
    <div class="ThemePagePanel" id="PagePanel">
    </div><br>
    <div class="ThemeBottomPanel" id="BottomPanel">
        Bottom Panel
    </div>
    <div class="ThemeFooter" id="Footer">
        <div>Shool Manager&COPY; 2020| Version 0.01</div>
    </div>

    <div id="PopupBox" style="position:absolute;width:250px;">

    </div>
</body>
</html>