<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>School Administration</title>
    <link href="/Content/CSS/StudentRegister.css" rel="stylesheet" />
</head>
<body>   
        <div ><h1>Student Register</h1></div> <br>
        <div id="Content">This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. This Student Register Content. </div> <br>
</body>
</html>