
.ThemeBody a {
    color: black;
}

    .ThemeBody a:link {
        color: black;
    }

.ThemeTitlePanel {
    color: #323a45;
}

.ThemeTitleItem {
    color: black;
}

.ThemeTitleText {
}

.ThemeUserText {
}

.ThemelnkSignOut {
    color: black;
    background: #626f80;
}

.ThemeTopPanel {
    background-color: #dce0db;
}

.ThemeTopMenu a:hover {
    color: black;
}


.ThemeTopMenu a {
    color: #0181bb;
    cursor: pointer;
}

.ThemeTopMenu {
    color: #131212;
    font-family: 'Times New Roman', Times, serif;
}

    .ThemeTopMenu:hover {
        color: white;
        background: #e2e2e2
    }

.ThemeLeftPanel {
    background-color: #027876;
}

.ThemeLeftMenu {   
    text-align:left;
    color: #ffffff;
    font-family:'Times New Roman', Times, serif;
}

    .ThemeLeftMenu:hover {
        background: #dce0db;
        color: #131212;
    }

    .ThemeLeftMenu a :link {
        background-color: #fff;
        background: #626f80;
    }

    .ThemeLeftMenu a:hover {
        background-color: #fff;
        background: #3b3c3d;
    }

.ThemePagePanel {
    border-color: cadetblue;
}

.ThemeBottomPanel {
    float: left;
    width: 100%;
}

.ThemeFooter {
    background: #b9bbbd;
}

.ThemeErrorMessage {
    color: red;
}


.Theme_txtText {
    color: black;
    background: white;
}

.Theme_lblInput {
    color: black;
}

.Theme_lblGroup {
    border-color: white;
}

.Theme_txtNumber {
    color: black;
}

.Theme_btnOK {
    color: darkgray;
}

.Theme_btnCancel {
    color: gray;
}

._lblErrorMsg {
    color: red;
}

.Theme_lblWarning {
    color: red;
}
